html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: sans-serif;
}

div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  margin: 5px 0 5px 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

div#post:first-child {

  margin: 10px 0 5px 0;
}

div#top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-style: italic;
  align-items: center;
}

div#post>div:not(:first-child) {
  display: flex;
  flex-direction: column;
}

p#name {
  text-transform: uppercase;
  font-weight: bolder;
}

p#name:not(:last-child) {
  border-top: 1px solid black;
  padding-top: 20px;
}

button {
  transition-duration: 0.25s;
  
  height: 50px;
  background-color: white;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  transition-duration: 0.25s;

  background-color: black;
  color: white;
}

@media only screen and (max-width: 970px) {
        div#post>div:not(:last-child) {
          display: flex;
          flex-direction: column;
        }
        div#post {
          width: 75%;
        }
    }

@media only screen and (max-width: 448px) {
        body {
          font-size: 12px;
        }
        button {
          font-size: 12px;
        }
    }